img{
    width: 100%;
}
p{
    color: black;
}
ol{
    background-color: #C7B39B
    background-color: maroon;
}
td{
    border: 4px #12C4F5 solid;
}
table{
    border-collapse: collapse;
}
div{
    border: 20px #15F7B3 solid;
    width: 20%;
    padding: 1%;
    border-radius: 8px;
    background-image: url('https://catherineasquithgallery.com/uploads/posts/2023-01/1674250414_catherineasquithgallery-com-p-serii-zadnii-fon-dlya-foto-foto-68.jpg');
    border-bottom-left-radius: 40px;
    border-image-width: 10%;
    color: aquamarine;
    background-image: url(../img/%D0%B4%D0%BB%D1%8F%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0.jpeg),url(../img/%D0%B4%D0%BB%D1%8F%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0.jpeg),url(../img/%D0%B4%D0%BB%D1%8F%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0.jpeg);
    background-size: 50px,50px,50px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left,right,top;
}

.dlya-section{
    border-color: darkcyan;
}
.dlya-section{
    border-color: yellow;
}
section{
    border: 5px black solid;
}
#jn{
    border-color: cornflowerblue;
}
.horosho{
    color: crimson;
}
.dlya-section .horosho{
    color:fuchsia;
}